<?xml version="1.0"?> 
<launch>  <!-- 根元素起始 -->
<!-- 节点起始 --> 
    <node pkg="turtlesim" type="turtlesim_node" name="turtle" ns="sim1" /> <!-- 节点结束 --> 
<!-- 节点起始 --> 
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" ns="sim1" launch-prefix="xterm -e"> </node> <!-- 节点结束 --> 
<!-- 节点起始 --> 
    <node pkg="turtlesim" type="turtlesim_node" name="turtle" ns="sim2" /> <!-- 节点结束 -->
<!-- 节点起始 --> 
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" launch-prefix="xterm -e" ns="sim2"> </node> <!-- 节点结束 --> 
</launch> <!-- 根元素结束 -->
